[run]
command_line = -m pytest -v --junitxml=junit_report.xml -o junit_logging=all
concurrency = multiprocessing
parallel = True
source = nest
branch = True
data_file = .coverage_dump
omit = nest/tests/test_routing_quagga.py
       nest/tests/test_routing_quagga_ipv6.py
       nest/tests/test_routing_quagga_multi_address.py

[report]
omit = nest/tests/*
       nest/version.py

precision = 2
