[run]
command_line = -m pytest -v --junitxml=junit_report.xml -o junit_logging=all --ignore-glob=nest/tests/test_routing*.py
concurrency = multiprocessing
parallel = True
source = nest
branch = True
data_file = .coverage_dump

[report]
omit = nest/tests/*
       nest/version.py

precision = 2
