# Python virtual environment files
venv/

# Python cache files
__pycache__
*.pyc

# vscode settings
.vscode/

# Output result dumps
*.json

# png images
*.png

# Output on nest install
nitk_nest.egg-info